<ng-container *ngIf="products; else loading">
  <div class="flex flex-col md:flex-row items-center justify-center w-full flex-wrap order-1 md:order-0 pb-48 md:pb-36">
    <div class="hidden md:flex md:w-10/12 justify-evenly items-center h-16 bg-grey-200 sticky top-0 rounded-md">
      <span class="font-bold text-center">{{ buildTranslationKey('product') | translate }}</span>
      <span class="font-bold text-center">{{ buildTranslationKey('price') | translate }}</span>
      <span class="font-bold text-center">{{ buildTranslationKey('quantity') | translate }}</span>
      <span class="font-bold text-center">{{ buildTranslationKey('total') | translate }}</span>
    </div>

    <app-cart-item *ngFor="let product of products" [product]="product"></app-cart-item>
  </div>

  <app-cart-summary *ngIf="products.length"></app-cart-summary>
</ng-container>

<ng-template #loading>
  <app-loader></app-loader>
</ng-template>
