<header class="flex flex-col md:flex-row justify-center md:justify-start items-center md:items-start text-center md:text-start w-full bg-blue-600 text-blue-100 py-0 px-44">
  <a class="mx-2.5 my-5">{{ buildTranslationKey('home') | translate }}</a>

  <a class="mx-2.5 my-5" [routerLink]="Route.products">{{ buildTranslationKey('products') | translate }}</a>

  <a class="mx-2.5 my-5">{{ buildTranslationKey('faq') | translate }}</a>

  <a class="mx-2.5 my-5" [routerLink]="Route.orders">{{ buildTranslationKey('orders') | translate }}</a>
</header>
