  <span *ngIf="headerText" class="ml-1.5 font-extrabold">{{ buildTranslationKey(headerText) | translate }}</span>

  <label
    *ngFor="let option of options"
    class="list-none text-grey-700 m-1.5"
    [ngClass]="multiselect ? 'cursor-pointer' : 'cursor-pointer hover:font-extrabold'"
    [class.checked-label]="isChecked(option.id)">
    <input
      [ngClass]="multiselect ? 'cursor-pointer' : 'appearance-none'"
      [type]="multiselect ? 'checkbox' : 'radio'"
      [name]="multiselect ? null : 'radio'"
      [value]="option.id"
      [checked]="isChecked(option.id)"
      (change)="onChange($event)"/>

    {{ buildTranslationKeyForLabels(option.id, option.value) | translate }}
  </label>
