@import 'src/styles';

.header-main {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;

  background-color: $blue-600;
  color: $blue-100;
  padding: 0 180px;

  .header-link {
    margin: 10px 20px;
    padding: 0 10px;
  }
}

@media screen and (max-width: 768px) {
  .header-main {
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 0;
    width: 100%;
  }
}
