@import 'src/styles';

:host {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  position: relative;
}

.searchbar {
  border-radius: 20px;
  border: 2px solid $blue-600;

  color: $blue-600;
  appearance: none;
  padding: 10px 20px;
  width: 100%;

  &:focus {
    border: 2px solid $blue-500;
    outline: none;
  }
}

.clear-button {
  position: absolute;
  right: 14px;

  width: 20px;
  height: 20px;

  border-radius: 50%;
  text-align: center;
  background-color: $red-400;
}
