<div class="product-text-wrapper">
  <p class="product-category">{{ card.categoryName }}</p>

  <h3 class="product-name">{{ card.name }}</h3>

  <div *ngIf="isExpanded" class="product-list">
    <span class="list-element">{{ card.description }}</span>
  </div>
</div>

<div class="product-image-wrapper">
  <img  class="product-image" [src]="card.images[0]" alt="Product picture">
</div>

<div class="button-wrapper">
  <h4 class="product-price">$ {{ card.price }}</h4>

  <app-add-to-cart-icon
    [isExpanded]="isExpanded"
    [productId]="card.id"
    [typeOfPage]="typeOfPage">
  </app-add-to-cart-icon>
</div>
