<div class="p-10 relative">
  <h2 class="text-lg font-medium text-grey-900">{{ buildTranslationKey('feedbackFormHeading') | translate }}</h2>

  <span class="block pb-6">{{ buildTranslationKey('pleaseShareYourOpinion') | translate }}</span>

  <form [formGroup]="feedbackForm" (ngSubmit)="onSubmit()">
    <span class="block font-bold">{{ buildTranslationKey('rateOurService') | translate }}</span>

    <div class="flex mb-4">
      <svg-icon [src]="'star-icon'" class="mr-2"></svg-icon>
      <svg-icon [src]="'star-icon'" class="mr-2"></svg-icon>
      <svg-icon [src]="'star-icon'" class="mr-2"></svg-icon>
      <svg-icon [src]="'star-icon'" class="mr-2"></svg-icon>
      <svg-icon [src]="'star-icon'" class="mr-2"></svg-icon>
    </div>

    <div>
      <label class="block font-bold after:content-['*'] after:ml-0.5 after:text-red-600"
             for="feedback-textarea">
        {{ buildTranslationKey('whatCanBeImproved') | translate }}
      </label>

      <textarea class="bg-grey-100 rounded mb-2 p-2 resize-none"
                [ngClass]="isInputValid('feedbackMessage') ? errorStyle : ''"
                cols="50"
                rows="5"
                id="feedback-textarea"
                formControlName="feedbackMessage"
                placeholder="{{ buildTranslationKey('whatCanBeImprovedPlaceholder') | translate }}">
      </textarea>

      <span *ngIf="isInputValid('feedbackMessage')"
            class="text-red-600 block mb-6">
        {{ buildTranslationKey('requiredOpinionErrorMessage') | translate }}
      </span>
    </div>

    <div>
      <label class="block font-bold after:content-['*'] after:ml-0.5 after:text-red-600"
             for="feedback-name">
        {{ buildTranslationKey('nameLabel') | translate }}
      </label>

      <input class="bg-grey-100 w-full rounded mb-2 p-2"
             [ngClass]="isInputValid('name') ? errorStyle : ''"
             formControlName="name"
             id="feedback-name"
             placeholder="{{ buildTranslationKey('namePlaceholder') | translate }}"
             type="text">

      <span *ngIf="isInputValid('name')"
            class="text-red-600 block mb-6">
         {{ buildTranslationKey('requiredNameErrorMessage') | translate }}
      </span>
    </div>

    <div>
      <label class="block font-bold after:content-['*'] after:ml-0.5 after:text-red-600"
             for="feedback-email">
        {{ buildTranslationKey('emailLabel') | translate }}
      </label>

      <input class="bg-grey-100 w-full rounded mb-4 p-2"
             [ngClass]="getControl('email').invalid && getControl('email').touched ? errorStyle : ''"
             formControlName="email"
             id="feedback-email"
             placeholder="{{ buildTranslationKey('emailPlaceholder') | translate }}"
             type="email">

      <span *ngIf="isInputValid('email')"
            class="text-red-600 block mb-6">
        {{ buildTranslationKey('requiredEmailErrorMessage') | translate }}
      </span>

      <span *ngIf="isInputValid('email', true)"
            class="text-red-600 block mb-6">
        {{ buildTranslationKey('invalidEmailFormErrorMessage') | translate }}
      </span>
    </div>

    <button class="bg-blue-600 rounded-full py-2 px-4 text-white absolute right-10 disabled:bg-grey-600"
            type="submit"
            [disabled]="!feedbackForm.valid">
      {{ buildTranslationKey('submitButtonTitle') | translate }}</button>
  </form>
  <div>
    <h2 class="text-lg font-medium text-grey-900">Thank you for your feedback!</h2>
  </div>
</div>



