@import 'src/styles';

.view-panel-container {
  width: 100%;
  padding: 0 20px;

  border-radius: 6px;
  border: 1px solid $grey-100;

  .shop-header {
    margin-bottom: 10px;
  }

  .feature-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
