@import 'src/styles';

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  background-color: $grey-100;
  padding: 24px 240px 24px 240px;

  .searchbar {
    max-width: 720px;
  }

  .right-section {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 200px;

    .menu-button {
      width: 50px;
    }
  }
}
