<nav
  class="flex flex-col md:flex-row justify-between md:justify-center md:items-center md:gap-10 bg-grey-100 py-6 md:p-5">
  <div class="flex justify-center">
    <svg-icon class="cursor-pointer" [src]="'shoperz'" [routerLink]="Route.home"></svg-icon>
  </div>

  <app-searchbar class="mx-auto md:mx-0 min-w-75 max-w-180 my-5"></app-searchbar>

  <div class="flex justify-center md:justify-evenly gap-x-4">
    <app-nav-icon [url]="'profile'"></app-nav-icon>

    <app-nav-icon [routerLink]="Route.cart" [url]="'cart'" [amount]="amountInCart$ | async"></app-nav-icon>

    <app-nav-icon class="heart" [routerLink]="Route.wishlist" [url]="'heart'" [amount]="amountOnWishlist$ | async"></app-nav-icon>

  </div>
</nav>
