<button
  class="add-to-cart-button"
  [ngClass]="buttonClasses"
  [class.item-in-cart]="isProductInCart"
  (click)="toggleProductInCart($event)">
  <ng-container *ngIf="typeOfPage === 'product-card'">
    <p *ngIf="isExpanded">{{ buttonText | translate }}</p>
    <svg-icon [src]="'add-to-cart'"></svg-icon>
  </ng-container>

  <ng-container *ngIf="typeOfPage === 'product-page'">
    <p>{{ buttonText | translate }}</p>
    <svg-icon *ngIf="!isProductInCart" [src]="'add-to-cart'"></svg-icon>
  </ng-container>
</button>
