<footer>
  <div class="flex px-40 py-12 text-grey-700">
    <div class="flex flex-col justify-between h-100 w-2/5">
      <svg-icon [src]="'shoperz-logo'"></svg-icon>

      <div>
        <span class="text-lg font-medium text-grey-900">
         {{ buildTranslationKey('titles', 'headquarters') | translate }}
        </span>

        <span class="block">
          {{ buildTranslationKey('other', 'presei square no45, bucharest - 099455') | translate }}
        </span>
      </div>

      <div>
        <span class="text-lg font-medium text-grey-900">
          {{ buildTranslationKey('titles', 'email') | translate }}
        </span>

        <a class="block" href="mailto:contact@shoperz.com" target="_top">contact@shoperz.com</a>
      </div>

      <div>
       <span class="text-lg font-medium text-grey-900">
         {{ buildTranslationKey('titles', 'telephone') | translate }}
        </span>

        <span class="block">(+40) 987 123 654</span>
      </div>

      <div class="flex gap-x-6">
        <a [href]="redirectUrls.facebookUrl" target="_blank">
          <svg-icon [src]="'facebook-logo'"></svg-icon>
        </a>

        <a [href]="redirectUrls.instagramUrl" target="_blank">
          <svg-icon [src]="'instagram-logo'"></svg-icon>
        </a>

        <a [href]="redirectUrls.linkedinUrl" target="_blank">
          <svg-icon [src]="'linkedin-logo'"></svg-icon>
        </a>

        <a [href]="redirectUrls.twitterUrl" target="_blank">
          <svg-icon [src]="'twitter-logo'"></svg-icon>
        </a>

        <a [href]="redirectUrls.youtubeUrl" target="_blank">
          <svg-icon [src]="'youtube-logo'"></svg-icon>
        </a>
      </div>
    </div>

    <div class="w-1/5">
    <span class="text-lg font-medium text-grey-900 py-6 block">
      {{ buildTranslationKey('titles', 'categories') | translate }}
    </span>

      <ul>
        <li
            *ngFor="let link of categoriesLinks"
            class="leading-10 hover:font-bold"
            [queryParams]="link.queryParams"
            [routerLink]="link.routerLink">
            {{ buildTranslationKey('categories', link.title) | translate }}
        </li>
      </ul>
    </div>

    <div class="w-1/5">
    <span class="text-lg font-medium text-grey-900 py-6 block">
      {{ buildTranslationKey('titles', 'useful links') | translate }}
    </span>

      <ul>
        <li *ngFor="let link of usefulLinks" class="leading-10 hover:font-bold">
          <a [routerLink]="link.routerLink">{{ buildTranslationKey('usefulLinks', link.title) | translate }}</a>
        </li>
      </ul>
    </div>

    <div class="w-1/5">
    <span class="text-lg font-medium text-grey-900 py-6 block">
      {{ buildTranslationKey('titles', 'customer service') | translate }}
    </span>

      <ul>
        <li *ngFor="let link of customerServiceLinks" class="leading-10 hover:font-bold">
          <a [routerLink]="link.routerLink">
            {{ buildTranslationKey('customerService', link.title) | translate }}
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="flex justify-between items-center px-40 text-grey-700">
    <span>&copy; <span class="font-bold">Shoperz</span> 2023 -
      {{ buildTranslationKey('other', 'all rights reserved') | translate }}
    </span>

    <div class="flex items-center">
      <svg-icon [src]="'visa-logo'"></svg-icon>
      <svg-icon [src]="'mastercard-logo'"></svg-icon>
      <svg-icon [src]="'paypal-logo'"></svg-icon>
      <svg-icon [src]="'skrill-logo'"></svg-icon>
    </div>
  </div>
</footer>
