<div class="flex justify-start p-2.5">
  <div class="flex justify-center items-center rounded-lg" [ngClass]="{ 'active-icon': !isExpanded }">
    <input class="absolute opacity-0 pointer-events-none hidden" type="radio" id="cardView" name="option" value="view1" checked>

    <label class="inline-block relative cursor-pointer p-1" for="cardView" (click)="toggleView(false)">
      <svg-icon class="w-7 mx-2.5" [src]="'card-view'"></svg-icon>
    </label>
  </div>

  <div class="flex justify-center items-center rounded-lg" [ngClass]="{ 'active-icon': isExpanded }">
    <input class="absolute opacity-0 pointer-events-none hidden" type="radio" id="rowView" name="option" value="view2">

    <label class="inline-block relative cursor-pointer p-1" for="rowView" (click)="toggleView(true)">
      <svg-icon class="w-7 mx-2.5" [src]="'row-view'"></svg-icon>
    </label>
  </div>
</div>
