<form class="flex flex-col gap-3" [formGroup]="filterForm">
  <app-checkbox-group
    *ngFor="let definition of filterDefinitions"
    [formGroupName]="definition.id"
    [multiselect]="definition.multiselect">
    <span class="font-bold text-size-16">{{ buildTranslationKeyForLabels(definition.id) | translate }}</span>

    <app-checkbox
      *ngFor="let option of definition.options"
      [formControlName]="option.id"
      [option]="option"
      [multiselect]="definition.multiselect"
      [label]="buildTranslationKeyForCheckboxes(option.value, option.id) | translate"
      [isCheckBoxHidden]="!definition.multiselect">
    </app-checkbox>
  </app-checkbox-group>
</form>
