@import 'src/styles';

:host {
  display: flex;
  gap: 20px;

  max-width: 1600px;
  margin: 0 auto;
  padding: 20px;
}

.filters {
  display: block;
  min-width: 272px;
}

.list-wrapper {
  gap: 20px;
  width: 100%;
}

.list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;

  width: 100%;
  margin-top: 20px;
}

.product-card {
  max-width: 272px;

  &.expanded {
    width: 100%;
  }
}

@media screen and (max-width: 1023px) {
  :host {
    flex-direction: column;
  }

  .filters {
    order: 2;
  }

  .list-wrapper {
    display: flex;
    flex-direction: column;
  }

  .list-wrapper {
    flex-direction: column;
  }
}
