<app-filter-panel class="filters"></app-filter-panel>

<div class="list-wrapper">
  <app-loader *ngIf="isLoading; else content" class="loading"></app-loader>

  <ng-template #content>
    <app-view-panel></app-view-panel>

    <div class="list">
      <app-product-card
        *ngFor="let card of products"
        class="product-card"
        [class.expanded]="isExpanded"
        [card]="card"
        [isExpanded]="isExpanded">
      </app-product-card>

      <app-product-not-found *ngIf="!products?.length"></app-product-not-found>
    </div>
  </ng-template>
</div>
