@import 'src/styles';

.grid-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  width: 100%;
  gap: 20px;
  padding: 20px;

  .filters {
    width: 272px;
  }

  .list-wrapper {
    gap: 20px;
  }

  .list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 1148px;
    width: 100%;
    margin-top: 20px;
  }
}
