@import 'src/styles';

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 272px 272px 272px 272px 1fr;
  grid-template-rows: 400px;

  .filters {
    grid-column: 2 / span 1;
    grid-row: 1 / span 2;
    margin: 0 0;
  }

  .list {
    grid-column: 3 / span 4;
    grid-row: 1 / span 2;
  }

  .list-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
